<div class="row">
  <h4>Add Transit Modes for <%= @city.name %></h4>
</div>
<form method='post' action='/cities/<%= @city.id %>/transit_modes'>
   <div class="row" style="margin: 0">
    <div class="input-field">
      <input id="transit-name" name='name' type="text" class="validate" placeholder="The name of the transit mode">
      <!-- <label type="hidden" for="transit-name">The name of the transit mode</label> -->
    </div>
  </div>  
  
  <div class="row center-align">
    <h5><small>To submit, choose an icon for this transit mode below:</small></h5>
  </div>
  <input type="hidden" id="icon" name="icon">
  <input type="hidden" id="backup" name="backup">
  <div class="row center-align button-row">
    <div class="col s3">
      <button title="Metro/Subway" class="btn-floating btn-large red-n" id="subway" type="submit" name="action"><i class="large mdi-maps-directions-subway"></i></button>
    </div>
    <div class="col s3">
      <button title="Bus" class="btn-floating btn-large yellow-n" id="bus" type="submit" name="action"><i class="large mdi-maps-directions-bus"></i></button>
    </div>
    <div class="col s3">
      <button title="Train" class="btn-floating btn-large green-n" id="train" type="submit" name="action"><i class="large mdi-maps-directions-train"></i></button>
    </div>
    <div class="col s3">
      <button title="Bikes" class="btn-floating btn-large blue-n" id="bike" type="submit" name="action"><i class="large mdi-maps-directions-bike"></i></button>
    </div>
  </div>
</form>
<br>

<div class="row">
  <% if @city.transit_modes.any? %>
     <ul class="collection col s10 offset-s1">
      <% @city.transit_modes.each do |mode| %>
      <li class="collection-item avatar">
        <a href="/cities/<%= @city.id %>/transit_modes/<%= mode.id %>/edit" class='right'>
          <i class="small mdi-editor-mode-edit"></i>
        </a>
        <i class="medium <%= mode.icon %> circle"></i>
        <span class="title truncate"><%= mode.name %></span>
      </li>
      <% end %>
    </ul>
  <% end %>
</div>

<div class="row center">
  <div class="col s5 offset-s1">
    <a href="/cities/<%= @city.id %>/pics/new" class="btn waves-effect waves-light orange-n" type="submit" name="action">Add a picture
      <i class="mdi-editor-attach-file right"></i>
    </a>
  </div>
  <div class="col s5">
    <a href="/cities/<%= @city.id %>" class="btn waves-effect waves-light orange-n" type="submit" name="action">Done Editing
      <i class="mdi-action-done-all right"></i>
    </a>
  </div>
</div>