<div class="row">
  <h4>Add Transit Modes for <%= @city.name %></h4>
</div>
<form method='post' action='/cities/<%= @city.id %>/transit_modes'>
   <div class="row" style="margin: 0">
    <div class="input-field">
      <input id="city-name" name='name' type="text" class="validate" value="<%= @failed_city_name %>">
      <label for="city-name">The name of the transit mode</label>
    </div>
  </div>  
  
  <div class="row center-align">
    <h5><small>To submit, choose an icon for this transit mode below:</small></h5>
  </div>
  <input type="hidden" id="icon" name="icon">
  <div class="row center-align">
    <div class="col s3">
      <button class="btn-floating btn-large red-n" id="subway" type="submit" name="action"><i class="large mdi-maps-directions-subway"></i></button>
    </div>
    <div class="col s3">
      <button class="btn-floating btn-large yellow-n" id="bus" type="submit" name="action"><i class="large mdi-maps-directions-bus"></i></button>
    </div>
      <button class="btn-floating btn-large green-n" id="train" type="submit" name="action"><i class="large mdi-maps-directions-train"></i></button>
    <div class="col s3">
      <button class="btn-floating btn-large blue-n" id="bike" type="submit" name="action"><i class="large mdi-maps-directions-bike"></i></button>
    </div>
  </div>
</form>
<div class="row">
</div>
<div class="row">
  <% if @city.transit_modes.any? %>
     <ul class="collection">
      <% @city.transit_modes.each do |mode| %>
      <li class="collection-item avatar">
        <i class="medium <%= mode.icon %> circle"></i>
        <span class="title"><%= mode.name %></span>
      </li>
      <% end %>
    </ul>
  <% end %>
</div>
<div class="row center">
  <a href="/cities/<%= @city.id %>/transit_modes/" class="btn waves-effect waves-light orange-n" type="submit" name="action">Continue to Edit Further
    <i class="mdi-content-add right"></i>
  </a>
</div>