
<% if current_user %>
  <div class ="row">
    <h3>Add a picture for <%= @city.name %>'s transit system</h3>
  </div>

  <form method="post" action="/cities/<%= @city.id %>/pics">
    <div class="input-field row">
      <label for="path">Enter image url</label>
      <input type="url" id="path" name="path" value="<%= @pic && @pic.path %>">
    </div>
    <div class="input-field row">
      <label for="title">Image Description</label>
      <input type="text" id="title" name="title" value="<%= @pic && @pic.title %>">
    </div>
    <div class="row">
      <button class="btn" type="submit" value="submit">Submit
        <i class="mdi-content-add right"></i>
      </button>
    </div>
  </form>
<% else %>
  <%= erb :warning, locals: {flash: ["You must be logged in to add pictures!"]} %>
<% end %>