<div class="row">
    <div class="right">
      <a href='/' class="btn waves-effect waves-light" type="submit" name="action">Edit
        <i class="mdi-content-add right"></i>
      </a>
    </div>
    <h3><%= @city.name %></h3>
    <h3 style="color: grey"><%= @city.state + ', ' if @city.state %><%= @city.country %></h3>
</div>


<% if @city.pics %>
  <% @city.pics.each do |pic| %>
    <div class="slider hide-on-small-only">  
      <ul class="slides">
        <li>
          <a href="/cities/<%= @city.id %>/pics/<%= pic.id %>"><img src="<%= pic.path %>"></a>
          <div class="caption center-align">
            <h5 class="light grey-text text-lighten-3"><%= pic.title %></h5>
          </div>
        </li>
      </ul>
    </div>
  <% end %>
<% end %>

<ul class="collapsible" data-collapsible="expandable">
  <% if @city.transit_modes %>
    <% @city.transit_modes.each do |transit_mode| %>
      <li>
        <div class="collapsible-header"><i class="circle <%= transit_mode.icon %>"></i><%= transit_mode.name %></div>
        <div class="collapsible-body" style="display: none;">
          <h5>Fare info</h5>
          <p><%= transit_mode.fare %></p>
          <h5>Tranfer info</h5>
          <p><%= transit_mode.transfers %></p>
        </div>
      </li>
    <% end %>
  <% end %>
</ul>

<% if @city.pics %>
  <% @city.pics.each do |pic| %>
    <div class="slider hide-on-med-and-up">  
      <ul class="slides">
        <li>
          <img src="<%= pic.path %>">
          <div class="caption center-align">
            <h5 class="light grey-text text-lighten-3"><%= pic.title %></h5>
          </div>
        </li>
      </ul>
    </div>
  <% end %>
<% end %>
<% if current_user %>
  <form method="get" action="/cities/<%= @city.id %>/problems/new">
    <div class='right-align'>
      </br>
      <button class="btn waves-effect waves-light" type="submit">Report Problems</button>
    </div>
  </form> 
<% end %>
