<% if current_user %> 
  <div class="fixed-action-btn">
    <a class="btn-floating btn-large red">
      <i class="large mdi-editor-mode-edit"></i>
    </a>
    <ul>
      <li class="transit-caption-rel">
        <a class="btn-floating red" href="/cities/<%= @city.id %>/problems/new">
          <i class="small mdi-alert-error"></i>
        </a>
      </li>
      <li class="transit-caption-rel">
        <a class="btn-floating blue" href="/cities/<%= @city.id %>/transit_modes/new">
          <i class="small mdi-editor-insert-comment"></i>
        </a>
      </li>
      <li class="transit-caption-rel">
        <a class="btn-floating green" href="/cities/<%= @city.id %>/pics/new">
          <i class="small mdi-image-add-to-photos"></i>
        </a>
      </li>
    </ul>
  </div>
<% end %>
<div class="row">
    <h3 id="city-page-title"><%= @city.name %></h3>
    <h5 id="country" style="color: grey"><small><%= @city.state + ', ' if @city.state %><%= @city.country %></small></h5>
</div>


<% if @city.pics.any? %>
  <div class="slider hide-on-small-only">  
    <%= erb :slider, locals: {city: @city} %>
  </div>
<% end %>

<ul class="collapsible" data-collapsible="expandable">
  <% if @city.transit_modes.any? %>
    <% @city.transit_modes.each do |transit_mode| %>
      <li>
        <div class="collapsible-header truncate"><i class="circle <%= transit_mode.icon %>"></i><%= transit_mode.name %></div>
        <div class="collapsible-body" style="display: none;">
          <h5>Fare info</h5>
          <p><%= transit_mode.fare %></p>
          <h5>Tranfer info</h5>
          <p><%= transit_mode.transfers %></p>
        </div>
      </li>
    <% end %>
  <% end %>
</ul>

<% if @city.pics.any? %>
  <div class="slider hide-on-med-and-up">  
    <%= erb :slider, locals: {city: @city} %>
  </div>
<% end %>
