<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper nav-wrapper-container">
      <a href="<%= settings.domain_name %>" class="brand-logo "><img class="responsive-img" src="/img/logo.png"</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
      <ul class="right">
        <li id="search-nav">
          <a id="toggle-search" href="#!">
          <i class="large mdi-action-search nav"></i>
          </a>
        </li>
      </ul>
      <% if current_user %>
        <ul class="right hide-on-med-and-down">
          <%= erb :'_user_nav' %>
        <ul class="side-nav" id="mobile-demo">
          <%= erb :'_user_nav' %> 
        </ul>
      <% else %>
        <ul class="right hide-on-med-and-down">
          <%= erb :'_login_form' %>
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <%= erb :'_login_form' %>
        </ul>
    <% end %>  
    </div>
  </nav>
</div>
<div id="search" class="row white-text grey darken-3" >
  <div class="container">
      <form method="POST" action="/search">
          <input class="form-control" type="text" placeholder="Search ..." name="city_name"></input>
          <input type="hidden"></input>
      </form>
  </div>
</div>
